/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #7278f2;
  --ion-color-primary-rgb: 114, 120, 242;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #646ad5;
  --ion-color-primary-tint: #8086f3;

  --ion-color-secondary: #6b3eba;
  --ion-color-secondary-rgb: 107, 62, 186;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5e37a4;
  --ion-color-secondary-tint: #7a51c1;

  --ion-color-tertiary: #7879f0;
  --ion-color-tertiary-rgb: 120, 121, 240;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #6a6ad3;
  --ion-color-tertiary-tint: #8686f2;

  --ion-color-success: #c12770;
  --ion-color-success-rgb: 193, 39, 112;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #aa2263;
  --ion-color-success-tint: #c73d7e;

  --ion-color-warning: #242836;
  --ion-color-warning-rgb: 36, 40, 54;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #202330;
  --ion-color-warning-tint: #3a3e4a;

  --ion-color-danger: #000000;
  --ion-color-danger-rgb: 0, 0, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #000000;
  --ion-color-danger-tint: #1a1a1a;

  --ion-color-medium: #2f3142;
  --ion-color-medium-rgb: 47, 49, 66;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #292b3a;
  --ion-color-medium-tint: #444655;

  --ion-color-light: #5f6681;
  --ion-color-light-rgb: 95, 102, 129;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #545a72;
  --ion-color-light-tint: #6f758e;
}
@media (prefers-color-scheme: light) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #6a64ff;
    --ion-color-primary-rgb: 106, 100, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #5d58e0;
    --ion-color-primary-tint: #7974ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0) 0%,
      black 0%
    );
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #f8f8f8;
    --ion-text-color-rgb: 248, 248, 248;

    --ion-color-step-50: #6761f6;
    --ion-color-step-100: #645fec;
    --ion-color-step-150: #615ce3;
    --ion-color-step-200: #5e5ad9;
    --ion-color-step-250: #5b57d0;
    --ion-color-step-300: #5855c6;
    --ion-color-step-350: #5552bd;
    --ion-color-step-400: #5250b3;
    --ion-color-step-450: #4f4daa;
    --ion-color-step-500: #4d4ba1;
    --ion-color-step-550: #4a4897;
    --ion-color-step-600: #47458e;
    --ion-color-step-650: #444384;
    --ion-color-step-700: #41407b;
    --ion-color-step-750: #3e3e71;
    --ion-color-step-800: #3b3b68;
    --ion-color-step-850: #38395e;
    --ion-color-step-900: #353655;
    --ion-color-step-950: #32344b;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0) 0%,
      black 100%
    );
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #f8f8f8;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #655ff2;
    --ion-color-step-100: #5f5ae6;
    --ion-color-step-150: #5a55d9;
    --ion-color-step-200: #5550cc;
    --ion-color-step-250: #504bbf;
    --ion-color-step-300: #4a46b3;
    --ion-color-step-350: #4541a6;
    --ion-color-step-400: #403c99;
    --ion-color-step-450: #3a378c;
    --ion-color-step-500: #353280;
    --ion-color-step-550: #302d73;
    --ion-color-step-600: #2a2866;
    --ion-color-step-650: #252359;
    --ion-color-step-700: #201e4d;
    --ion-color-step-750: #1b1940;
    --ion-color-step-800: #151433;
    --ion-color-step-850: #100f26;
    --ion-color-step-900: #0b0a19;
    --ion-color-step-950: #05050d;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
