a {
  text-decoration: none;
}


img {
  width: 300px;
}
.header{
  /* background-color:-2px 1px 100px 100px rgba(106, 100, 255, 0.9); */
  /* box-shadow: 2px 1px 100px 100px rgba(106, 100, 255, 0.9); */
  box-shadow: 32.3730583190918px 32.3730583190918px 32.3730583190918px; 
  border-radius: 22px;
  background: #6a64ff;
  filter: blur(65px);
}

.loginForm {
  background: #242836;
  color: #5f6681;
  opacity: 80%;
  border-radius: 4px;
  font-size: 17px;
}

.loginButton {
  background: #6a64ff;
  color: #f8f8f8;
  border-radius: 4px;
  font-size: 13px;
  padding: 5px;
}

.icons {
  border-radius: 4px;
  width: 36.08;
  border: 1px solid #f4f4f4;
  background: #f8f8f8;
  padding: 5px;
  display: inline-block;
  align-items: center;
  padding: 10px;
  color: #242836;
}

.linkToSignUp {
  font-size: 14px;
  font-family: Helvetica;
  margin-top: 10px;
}

.password {
  color: #f8f8f8;
}

.or {
  color: #f8f8f8;
}

.noAccount {
  color: #f8f8f8;
}

.title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
   color: #f8f8f8;
   text-shadow: 68px -56px 34px rgba(248, 248, 248, 1);
}

.line {
  border-bottom: 1px solid #f8f8f8;
  display: block;
  width: 50px;
  margin: 0 auto;
}
