a {
  text-decoration: none;
}

img {
  width: 300px;
}
.header {
  box-shadow: 32.3730583190918px 32.3730583190918px 32.3730583190918px;
  border-radius: 22px;
  background: #6a64ff;
  filter: blur(65px);
}

.loginForm {
  background: #242836;
  color: #5f6681;
  opacity: 90%;
  border-radius: 4px;
  font-size: 17px;
  border: 1 solid #242836;
}

.card {
  /* background-image: url(../media/login-page-photo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0; */
  opacity: 70%;
}

.loginButton {
  background: #6a64ff;
  color: #f8f8f8;
  border-radius: 4px;
  font-size: 13px;
  padding: 5px;
  border: 1 solid #6a64ff;
}

.icons {
  border-radius: 4px;
  width: 36.08;
  border: 1px solid #f4f4f4;
  background: #f8f8f8;
  padding: 5px;
  display: inline-block;
  align-items: center;
  padding: 10px;
  color: #242836;
}

.linkToSignUp {
  font-size: 14px;
  font-family: Helvetica;
  margin-top: 10px;
}

.password {
  color: #f8f8f8;
}

.or {
  color: #f8f8f8;
}

.noAccount {
  color: #f8f8f8;
}


.line {
  border-bottom: 1px solid #f8f8f8;
  display: block;
  width: 50px;
  margin: 0 auto;
}

